-----BEGIN CERTIFICATE-----
MIIDwTCCAqmgAwIBAgIUXN2FKXoF//db7ot/vXYS93PIWoAwDQYJKoZIhvcNAQEL
BQAwgYcxCzAJBgNVBAYTAkJSMRIwEAYDVQQIDAlTYW8gUGF1bG8xEjAQBgNVBAcM
CVNhbyBQYXVsbzErMCkGA1UECgwiU2VyYXNhIEV4cGVyaWFuIC0gRGV2b3BzLUNo
YWxsZW5nZTEPMA0GA1UECwwGRGV2b3BzMRIwEAYDVQQDDAlsb2NhbGhvc3QwHhcN
MTkwNzIxMDAwNTE1WhcNMjAwNzIwMDAwNTE1WjCBhzELMAkGA1UEBhMCQlIxEjAQ
BgNVBAgMCVNhbyBQYXVsbzESMBAGA1UEBwwJU2FvIFBhdWxvMSswKQYDVQQKDCJT
ZXJhc2EgRXhwZXJpYW4gLSBEZXZvcHMtQ2hhbGxlbmdlMQ8wDQYDVQQLDAZEZXZv
cHMxEjAQBgNVBAMMCWxvY2FsaG9zdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
AQoCggEBAMcyf+7v5UkoCu174m62El3GMRBLW4VW5x+DLzuxD/VTvo1W0+2EcvQO
JjQ/pJSf1lJcp+3Sqv/3POyU1MvGpc5bAHdz0GVVDtEnRiZLWhdxYilPpZyf7Dv1
YdzsqDi2XMy+UtSxdUZRCA3bQlw4AGcqJjUIy+SyiTCop/EbaoxQSqHyIVFSMcKT
obBgjuPCoLMEm6U3LJMuyacfx73bVrBiJhizk14jkZfP7lTltXGc9GUoPHIO0UDM
qlkWkbmKYkUaPAbDKacjjFethvPpbyRxpvf3J8t6zRWBQK3ilgSniAnR6X31wCFW
BV4YzIbHZm6roXnvaKOisiNP3IzA8+8CAwEAAaMjMCEwHwYDVR0RBBgwFoIJbG9j
YWxob3N0ggkxMjcuMC4wLjEwDQYJKoZIhvcNAQELBQADggEBAFKDh5+h3fmqXqJ7
PV0ZbVPkvdKmcnxlOo3LxSZuT7oy1kesf8GtT9tf6IFqw+UMkm9eE8fkNRkcASl9
V/s6eKVq0Mg9YhhfI5EjXwrz267JbFMloE5sGhCSjspfocx5MN1g1FeUB9f7pVQn
Wmo5riouqQqyf2QsimbRBLObg+YQqb6Y8xE4iyHR/fe19wlMh38G9sEOIYrLC1U5
Txtwg9kPkD8yBxy7KYw63ekb3Xt8MWGl4IBAgZFJ8qyovK6Chbxk+CTcLxLkTXiu
2yzSwhaUIVSc5+9ulpeLanqdfWVLF+9w+SkC3xnAvoJDxf6rkxpPU7WjdOofZCmF
ityU24o=
-----END CERTIFICATE-----
